{% extends "index.html" %}
{% block content %}


<!-- #header -->
    
  <!-- ======= Header ======= -->
<header id="header" class="fixed-top">
    <div class = "container">
      <div class="logo float-left">
        <a href="#intro" class="scrollto"><img src="" alt="" class="img-fluid">COVID UPDATES</a>
      </div>

      <nav class="main-nav float-right d-none d-lg-block">
        <ul>
          <li><a href="#about">About</a></li>
          <li><a href="#services">News</a></li>
          <li><a href="#why-us">updates</a></li>
          <li><a href="https://www.pmcares.gov.in/en/">Donate In PM CARES FUND</a></li>

        </ul>
      </nav>
    </div>
</div>
</header>
<!-- .main-nav -->

  <!-- ======= Intro Section ======= -->
  <section id="intro" class="clearfix">
    <div class="container">

      <div class="intro-info col-12 col-lg-12">
        <h3>We Have to win <br><span>fight Against</span><br>COVID</h3>
        <div>
          <a href="#about" class="btn-get-started scrollto">Stay Home</a>
          <a href="#services" class="btn-get-started scrollto">Be Safe</a>
        </div>
      </div>

    </div>
  </section><!-- End Intro Section -->

 
  <main id="main">

     <div id="mySidenav" class="sidenav">
        <span id = "help">
          <a href = "#"><span style="font-style:italic">Helpline Numebr : 1075</span></a>
        </span>
        <span id = "test">
             <a href = "test"><span style="font-style:italic">Take Self Test</span></a>
        </span>
    </div>
    <div class="text-center" style="float:right;">
      <button type="button" class="btn btn-info" data-toggle="modal" data-target="#modalYT" style = "border-radius:40px 0px 0px 40px;"><img src="https://static.superbot.works/chatbot/media/superbot1.png" alt=""></button>
    </div>

    <!--Modal: Name-->
<div class="modal fade" id="modalYT" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">

    <!--Content-->
    <div class="modal-content">
    <div class="modal-header" style="background-color:rgb(140, 222, 228);">
        <h5 class="modal-title"style="color:#fff;">Covid Updates</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!--Body-->
      <div class="modal-body mb-0 p-0">
        <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
          <iframe class="embed-responsive-item" src="http://127.0.0.1:5000/chat" allowfullscreen></iframe>
        </div>
      </div>

      <!--Footer-->
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4" data-dismiss="modal">Close</button>
      </div>

    </div>
    <!--/.Content-->

  </div>
</div>

    <!-- ======= About Section ======= -->
    <section id="about">
      <div class="container">

        <header class="section-header col-md-12">
          <h3>About CoronaVirus</h3>
          <p>
            Researchers first identified a coronavirus in 1937, isolating one that was responsible for a type of bronchitis in birds that had the potential to devastate poultry stocks.
            Scientists found evidence of human coronaviruses in the 1960s, in the noses of people with the common cold.
            Human coronaviruses that are particularly prevalent include 229E, NL63, OC43, and HKU1.
            The name “coronavirus” comes from the crown-like projections on their surfaces. “Corona” in Latin means “halo” or “crown.”
            Among humans, coronavirus infections most often occur during the winter months and early spring.
          </p>
        </header>

        <div class="row about-container">

          <div class="col-lg-6 content order-lg-1 order-2">
          <h4>Precautions</h4><br>
            <div class="icon-box wow fadeInUp">
              <div class="icon"><i class="fa fa-heartbeat"></i></div>
              <h4 class="title"><a href="">Wash Your Hands</a></h4>
              <h6 class="description">Wash your hands often with soap and water for at least 20 seconds, especially after going to the bathroom; before eating; and after blowing your nose, coughing, or sneezing.</h>
            </div>

            <div class="icon-box wow fadeInUp">
              <div class="icon"><i class="fa fa-medkit"></i></div>
              <h4 class="title"><a href="">Use alchol Based Sanitizer</a></h4>
              <p class="description">If soap and water are not readily available, use an alcohol-based hand sanitizer with at least 60% alcohol. Always wash hands with soap and water if hands are visibly dirty.</p>
            </div>

            <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
              <div class="icon"><i class="fa fa-medkit"></i></div>
              <h4 class="title"><a href="">Cover Your Cough</a></h4>
              <p class="description">Cover your cough or sneeze with a tissue, then throw the tissue in the trash and wash your hands. If you don’t have a tissue, cough or sneeze into your elbow, rather than into your hands.</p>
            </div>

            <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
              <div class="icon"><i class="fa fa-heartbeat"></i></div>
              <h4 class="title"><a href="">Cleanliness</a></h4>
              <p class="description">Clean and disinfect frequently touched objects and surfaces.</p>
            </div>

          </div>

          <div class="col-lg-6 background order-lg-2 order-1 wow fadeInUp">
            <img src="static/assets/img/1.jpg" class="img-fluid" alt="">
          </div>
        </div>

        <div class="row about-extra">
          <div class="col-lg-6 wow fadeInUp">
            <img src="static/assets/img/2.jpg" class="img-fluid" alt="" style = "margin-bottom:30^%">
          </div>
          <div class="col-lg-6 wow fadeInUp pt-5 pt-lg-0">
            <h4>Symptoms</h4>
            <p>
             According to the CDC, people may start to experience symptoms 2–14 days after exposure to the virus. Symptoms may include:
            </p>
            <p>
              <ul>
              <li>Fever</li>
              <li>chills</li>
              <li>a cough</li>
              <li>sore throat</li>
              <li>headache</li>
              <li>congestion or a runny nose</li>
              <li>muscle pain</li>
              <li>diarrhea</li>
              </ul>
              <span>
                According to the CDC, the following groups have a higher risk of developing serious illness from COVID-19:
              </span><br><br>
              <ul>
                <li>people aged 65 years or older</li>
                <li>people living in nursing homes or care facilities</li>
                <li>people of any age who have serious underlying medical conditions, including chronic lung disease, serious heart conditions, severe obesity, a compromised immune system, or diabetes</li>
              </ul>
            </p>
          </div>
        </div>

        <div class="row about-extra">
        
          <div class="col-lg-6 wow fadeInUp order-1 order-lg-2">
            <img src="static/assets/img/3.jpg" class="img-fluid" alt="">
          </div>
          
          <div class="col-lg-6 wow fadeInUp pt-4 pt-lg-0 order-2 order-lg-1">
            <h4>Transmission</h4>
            <p>
              The CDC recommend that all people wear cloth face masks in public places where it is difficult to maintain a 6-foot (2-meter) distance from others. This will help slow the spread of the virus from asymptomatic people and people who do not know that they have contracted it. People should wear cloth face masks while continuing to practice physical distancing. Instructions for making masks at home are available here. Note: It is critical that surgical masks and N95 respirators are reserved for healthcare workers.
            </p>
            <p>
              Researchers believe that the viruses transmit via fluids in the respiratory system, such as mucus.<br>
              For example, a coronavirus can spread when a person:
              <ul>
                <li>coughs or sneezes without covering their mouth, dispersing droplets into the air</li>
                <li>touches someone who has the infection</li>
                <li>touches a surface that has the virus, then touches their own nose, eyes, or mouth</li>
              </ul>
            </p>
            <p>
              To prevent transmission, people with symptoms should stay at home, rest, and avoid coming into close contact with other people.<br>
            </p>
          </div>

        </div>

      </div>
    </section><!-- End About Section -->

    <!-- =======Update ======= -->
    <section id="why-us" class="wow fadeIn">
      <div class="container">
        <header class="section-header">
          <h3>Updates</h3>
          <p>Deatiled About Cases In India</p>
        </header>

        

        <div class="row counters">

          <div class="col-lg-4 col-12 text-center">
            <span data-toggle="counter-up">{{ p.total }}</span>
            <p>Total Cases</p>
          </div>

          <div class="col-lg-4 col-12 text-center">
            <span data-toggle="counter-up">{{ p.recovered }}</span>
            <p>Recovered</p>
          </div>

          <div class="col-lg-4 col-12 text-center">
            <span data-toggle="counter-up">{{ p.deaths }}</span>
            <p>Deaths</p>
          </div>

          

        </div>

      </div>
    </section><!-- End update Section -->

    

  <!-- ======= news Section ======= -->
    <section id="testimonials" class="section-bg">
      <div class="container">

        <header class="section-header">
          <h3>Latest News Headlines</h3>
        </header>

        <div class="row justify-content-center">
          <div class="col-lg-8">
            <div class="owl-carousel testimonials-carousel wow fadeInUp">
            {% for i in news %}
              <div class="testimonial-item">
                <p>{{ i }}</p>
              </div>
            {% endfor %}
           </div>

          </div>
        </div>

      </div>
    </section><!-- End news Section -->


  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-5 col-md-12 footer-info">
            <h3>Corona Updates</h3>
            <p>
              Here you can Find Most of the updated detail of or Corona Covid 19<br> <h5 style = "font-style:italic">"Stay Home Be Safe"</h5>
            </p>
          </div>

          <div class="col-lg-3 col-md-12 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><a href="#about">About corona</a></li>
              <li><a href="#why-us">Updates</a></li>
              <li><a href="#services">Latest News</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-12 footer-contact">
            <h4>Contact Us</h4>
            <p>
              40 , Saharanpur <br>
              UttarPardesh, 247001<br>
              INDIA <br>
              <strong>Phone:</strong>+91 6397365442<br>
              <strong>Email:</strong> arpit09chuahan@gmail.com<br>
            </p>

            <div class="social-links">
              <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
              <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
              <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
              <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
              <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
            </div>

          </div>
        </div>
      </div>
    </div>

  </footer><!-- End Footer -->



{% endblock content %}